flows/taxsystem/src/main/app/taxsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="HandleATaxPayer-VM" doc:name="HandleATaxPayer-VM">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/taxsystem/handleataxpayer" doc:name="/taxsystem/handleataxpayer"/>
        <set-variable variableName="income" value="#[message.payload.assets.income]" doc:name="income?"/>
        <choice doc:name="Choice">
            <when expression="#[income &lt; 15000]">
                <logger message="Processing: Simple" level="INFO" doc:name="simple"/>
            </when>
            <otherwise>
                <logger message="Processing: Complex" level="INFO" doc:name="complex"/>
            </otherwise>
        </choice>
        <scripting:component doc:name="mock object">
            <scripting:script engine="Groovy"><![CDATA[import fr.polytech.unice.soa1.taxSystem.business.*;
def taxpayer = (TaxPayer) message.payload;
def form = new fr.polytech.unice.soa1.taxSystem.business.TaxForm();

form.setLastName(taxpayer.getLastName());
form.setFirstName(taxpayer.getFirstName());
form.setTaxAmount(0.0);

return form;]]></scripting:script>
        </scripting:component>
    </flow>
    <flow name="TaxSystem-WS" doc:name="TaxSystem-WS">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="ts/" doc:name="http://localhost:8081/ts"/>
        <cxf:jaxws-service serviceClass="fr.polytech.unice.soa1.taxSystem.services.TaxSystem" doc:name="TaxSystem"/>
        <set-variable variableName="operation" value="#[flowVars.cxf_operation.localPart]" doc:name="operation?"/>
        <choice doc:name="Choice">
            <when expression="#[operation == &quot;HandleATaxPayer&quot;]">
                <logger message="HandleATaxPayer branch" level="INFO" doc:name="HandleATaxPayer"/>
                <vm:outbound-endpoint exchange-pattern="request-response" path="/taxsystem/handleataxpayer" doc:name="/taxsystem/handleataxpayer"/>
            </when>
            <when expression="#[operation == &quot;ConsultTaxes&quot;]">
                <logger message="ConsultTaxes branch" level="INFO" doc:name="ConsultTaxes"/>
                <set-payload value="#[0.0f]" doc:name="mock primitive"/>
            </when>
            <otherwise>
                <logger message="Unknown Operation" level="INFO" doc:name="Unknown Operation"/>
            </otherwise>
        </choice>
    </flow>
</mule>
