flows/taxsystem/src/main/app/taxsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="contracts/ExternalTaxComputation.wsdl" service="ExternalTaxComputerService" port="ExternalTaxComputerPort" serviceAddress="http://localhost:8080/webservices/External-Tax-Computer" doc:name="Web Service Consumer"/>
    <data-mapper:config name="Pojo_To_Xml_simple_" transformationGraphPath="pojo_to_xml_simple_.grf" doc:name="Pojo_To_Xml_simple_"/>
    <data-mapper:config name="Xml_simpleResponse__To_TaxForm" transformationGraphPath="xml_simpleresponse__to_taxform.grf" doc:name="Xml_simpleResponse__To_TaxForm"/>
    <ws:consumer-config name="Web_Service_Consumer1" wsdlLocation="contracts/ExternalTaxComputation.wsdl" service="ExternalTaxComputerService" port="ExternalTaxComputerPort" serviceAddress="http://localhost:8080/webservices/External-Tax-Computer" doc:name="Web Service Consumer"/>
    <data-mapper:config name="TaxPayer_To_Xml_complex_" transformationGraphPath="taxpayer_to_xml_complex_.grf" doc:name="TaxPayer_To_Xml_complex_"/>
    <data-mapper:config name="Xml_complexResponse__to_TaxForm" transformationGraphPath="xml_complexresponse__to_taxform.grf" doc:name="Xml_complexResponse__to_TaxForm"/>
    <data-mapper:config name="CSV_To_TaxPayer" transformationGraphPath="csv_to_taxpayer.grf" doc:name="CSV_To_TaxPayer"/>
    <db:derby-config name="Derby_Configuration" doc:name="Derby Configuration" url="jdbc:derby:memory:glue;create=true"/>
    <flow name="TaxSystem-WS" doc:name="TaxSystem-WS">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="ts/" doc:name="http://localhost:8081/ts"/>
        <cxf:jaxws-service serviceClass="fr.polytech.unice.soa1.taxSystem.services.TaxSystem" doc:name="TaxSystem"/>
        <set-variable variableName="operation" value="#[flowVars.cxf_operation.localPart]" doc:name="operation?"/>
        <choice doc:name="Choice">
            <when expression="#[operation == &quot;HandleATaxPayer&quot;]">
                <logger message="HandleATaxPayer branch" level="INFO" doc:name="HandleATaxPayer"/>
                <vm:outbound-endpoint exchange-pattern="request-response" path="/taxsystem/handleataxpayer" doc:name="/taxsystem/handleataxpayer"/>
            </when>
            <when expression="#[operation == &quot;ConsultTaxes&quot;]">
                <logger message="ConsultTaxes branch" level="INFO" doc:name="ConsultTaxes"/>
                <vm:outbound-endpoint exchange-pattern="request-response" path="/taxsystem/consultdb" doc:name="/taxsystem/consultdb"/>
            </when>
            <otherwise>
                <logger message="Unknown Operation" level="INFO" doc:name="Unknown Operation"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="HandleATaxPayer-VM" doc:name="HandleATaxPayer-VM">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/taxsystem/handleataxpayer" doc:name="/taxsystem/handleataxpayer"/>
        <set-variable variableName="income" value="#[message.payload.assets.income]" doc:name="income?"/>
        <choice doc:name="Choice">
            <when expression="#[income &lt; 15000]">
                <flow-ref name="invoke-simple-tcs" doc:name="invoke-simple-tcs"/>
            </when>
            <otherwise>
                <flow-ref name="invoke-complex-tcs" doc:name="invoke-complex-tcs"/>
            </otherwise>
        </choice>
        <vm:outbound-endpoint exchange-pattern="one-way" path="/taxsystem/storeindb" doc:name="/taxsystem/storeindb"/>
    </flow>
    <sub-flow name="invoke-simple-tcs" doc:name="invoke-simple-tcs">
        <logger message="Processing: Simple" level="INFO" doc:name="simple"/>
        <flow-ref name="get-generator" doc:name="get-generator"/>
        <set-variable variableName="taxpayer" value="#[message.payload]" doc:name="store taxpayer"/>
        <data-mapper:transform config-ref="Pojo_To_Xml_simple_" doc:name="TaxPayer To Xml&lt;simple&gt;">
            <data-mapper:input-arguments>
            </data-mapper:input-arguments>
        </data-mapper:transform>
        <ws:consumer config-ref="Web_Service_Consumer" operation="simple" doc:name="TCS::simple"/>
        <data-mapper:transform config-ref="Xml_simpleResponse__To_TaxForm" doc:name="Xml&lt;simpleResponse&gt; To TaxForm">
            <data-mapper:input-arguments>
                <data-mapper:input-argument key="taxpayer">#[taxpayer]</data-mapper:input-argument>
            </data-mapper:input-arguments>
        </data-mapper:transform>
        <!-- 
        <cxf:jaxws-client operation="simple" clientClass="proxies.ext.taxComputer.TaxComputerService" port="TaxComputerPort"  doc:name="simple"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8090" path="ext/tax_computer" method="POST" doc:name="localhost:8090/ext/tax_computer"/>
         -->
    </sub-flow>
    <sub-flow name="invoke-complex-tcs" doc:name="invoke-complex-tcs">
        <logger message="Processing: Complex" level="INFO" doc:name="complex"/>
        <flow-ref name="get-generator" doc:name="get-generator"/>
        <set-variable variableName="taxpayer" value="#[message.payload]" doc:name="store taxpayer"/>
        <data-mapper:transform config-ref="TaxPayer_To_Xml_complex_" doc:name="TaxPayer To Xml&lt;complex&gt;">
            <data-mapper:input-arguments>
            </data-mapper:input-arguments>
        </data-mapper:transform>
        <ws:consumer config-ref="Web_Service_Consumer1" operation="complex" doc:name="TCS::complex"/>
        <data-mapper:transform config-ref="Xml_complexResponse__to_TaxForm" doc:name="Xml&lt;complexResponse&gt; to TaxForm">
            <data-mapper:input-arguments>
                <data-mapper:input-argument key="taxpayer">#[taxpayer]</data-mapper:input-argument>
            </data-mapper:input-arguments>
        </data-mapper:transform>
    </sub-flow>
    <sub-flow name="get-generator" doc:name="get-generator">
        <enricher target="#[message.payload.identifier]" doc:name="Enrich message.payload.identifier">
            <processor-chain doc:name="Chain: call ">
                <logger message="Requesting generator" level="INFO" doc:name="generator"/>
                <expression-transformer expression="#[new Object[]{}]" doc:name="init request"/>
                <http:outbound-endpoint exchange-pattern="request-response"    method="GET" doc:name="localhost:8080/tcs/rest/generator" address="http://localhost:8080/tcs/rest/generator"/>
                <object-to-string-transformer doc:name="Object to String"/>
            </processor-chain>
        </enricher>
    </sub-flow>
    <flow name="process-tais-data" doc:name="process-tais-data">
        <file:inbound-endpoint path="./_tais" moveToDirectory="./_data" responseTimeout="10000" doc:name="_tais/*.csv">
            <file:filename-regex-filter pattern=".*\.csv" caseSensitive="true"/>
        </file:inbound-endpoint>
        <data-mapper:transform config-ref="CSV_To_TaxPayer" doc:name="CSV To TaxPayer"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/taxsystem/handleataxpayer" doc:name="/taxsystem/handleataxpayer"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <file:outbound-endpoint path="./_output" outputPattern="result.json" responseTimeout="10000" doc:name="./_output/result.json"/>
    </flow>
    <flow name="init-database" doc:name="init-database">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="9090" path="admin/db/init" doc:name="localhost:9090/admin/db/init"/>
        <scripting:component doc:name="init-script">
            <scripting:script engine="Groovy"><![CDATA[
import groovy.sql.*
import java.sql.*

System.out.println("Initializing database");
def sql = Sql.newInstance("jdbc:derby:memory:glue;create=true", new Properties());
sql.execute("CREATE TABLE results (name varchar(256), amount float)");
System.out.println("Database initialized");

return "initialized";]]></scripting:script>
        </scripting:component>
    </flow>
    <flow name="store-in-db" doc:name="store-in-db">
        <vm:inbound-endpoint exchange-pattern="one-way" path="/taxsystem/storeindb" doc:name="/taxsystem/storeindb"/>
        <scripting:component doc:name="insert-into">
            <scripting:script engine="Groovy"><![CDATA[

import groovy.sql.*
import java.sql.*

def sql = Sql.newInstance("jdbc:derby:memory:glue", new Properties());
sql.execute("insert into results (name, amount) values ('" + payload.lastName + "', "+payload.taxAmount+")");

System.out.println("Info stored for " + payload.lastName);]]></scripting:script>
        </scripting:component>
    </flow>
    <flow name="get-from-db" doc:name="get-from-db">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/taxsystem/consultdb" doc:name="/taxsystem/consultdb"/>
        <scripting:component doc:name="select-from">
            <scripting:script engine="Groovy"><![CDATA[import groovy.sql.*
import java.sql.*

def sql = Sql.newInstance("jdbc:derby:memory:glue", new Properties());
def query = "select amount from results where name = '"+ message.payload+"'";
def data = sql.rows(query);

return (float) data[0]['AMOUNT'];]]></scripting:script>
        </scripting:component>
    </flow>
</mule>
